.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.userWrapper {
  width: 75%;
  margin: 0 auto;

  section.userInfo {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(235, 235, 235);
    padding: 20px 0;

    img {
      width: 60px;
      margin-right: 20px;
      border-radius: 50%;
    }

    h3 {
      color: #333333;
      font-size: 16px;
    }
  }

  article {
    .item {
      padding-top: 40px;
      display: flex;
      align-items: center;

      .date {
        color: #999999;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-right: 30px;

        .day {
          font-size: 40px;
        }
      }

      .article {
        color: #333333;

        h3 {
          padding: 10px 0 14px 0;
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }

        .control {
          float: right;
          span {
            padding-right: 6px;
            a {
              font-size: 12px;
              color: rgba(0, 153, 31, 0.6);
            }
          }

        }
      }
    }
  }
}