.indexWrapper {
  padding: 0 12.5%;
  .item {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    figure {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #999999;
      font-size: 12px;
      margin-right: 40px;
      img {
        width: 2.6em;
        margin-top: 20px;
      }
      figcaption {
        margin-top: 20px;
      }
    }
    article {
      color: #333333;
      h3{
        margin: 16px 0;
        font-size: 16px;
        span {
          font-size: 12px;
          color: #999999;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 300;
        }
      }
      
      p {
        font-size: 14px;
      }
    }
  }
}