.indexWrapper {
  padding: 0 12.5%;

  .item {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .figuerWrapper {
      width: 6%;
      figure {
        cursor: pointer;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #999999;
        font-size: 12px;
        margin-right: 4%;

        img {
          width: 3.5em;
          border-radius: 50%;
          margin-top: 20px;
        }

        figcaption {
          width: 100%;
          margin-top: 20px;
          white-space: nowrap;
          /*不分行显示*/
          overflow: hidden;
          /*溢出隐藏*/
          text-overflow: ellipsis;
          /*文字溢出省略号*/
        }
      }

    }

    article {
      cursor: pointer;
      width: 90%;
      flex-shrink: 0;
      color: #333333;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h3 {
        font-size: 16px;
        margin: 0 0 20px 0;

        span {
          font-size: 12px;
          color: #999999;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 300;
        }
      }

      p {
        font-size: 14px;
      }
    }
  }
}