.editWrapper {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 40px;
  h1 {
    text-align: center;
    padding: 20px 0;
  }
  h3 {
    padding: 16px 0;
  }
  p.msg {
    padding: 10px 0;
    color: #999999;
    font-size: 12px;
    text-align: right;
  }
}