$textLighterColor: #999;

#detail {
  p {
    grid-column: 2;
    grid-row: 2;
    line-height: 2;
    margin-top: 0;
    font-size: 14px;
    color: $textLighterColor;
  }

  a {
    text-decoration: none;
    color: rgb(64, 158, 255);
  }

  width: 75%;
  margin: 0 auto;

  .user-info {
    display: grid;
    grid: auto auto / 80px 1fr;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;

    .avatar {
      grid-column: 1;
      grid-row: 1 / span 2;
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    h3 {
      grid-column: 2;
      grid-row: 1;
      font-size: 16px;
      margin: 5px 0;
    }
  }

  .description {
    border-bottom: 1px solid rgb(235, 235, 235);
  }

  .description,
  .article {
    padding: 30px 0;

    h1 {
      font-size: 24px;
      padding: 12px 0 20px 0;
    }

    h2 {
      font-size: 20px;
    }

    h1,
    h2,
    h3 {
      color: #333;
      padding: 14px 0;
    }
  }

}