.loginWrapper {
  min-height: 400px;
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;

  p.loginIn {
    font-size: 12px;
    a {
      color: #333333;
      color: rgb(103, 194, 58);
    }
  }

  .login {
    padding: 10px 30px 36px 30px;
    border-radius: 6px;
    margin-bottom: 10px;
    div.item {
      display: flex;
      margin-bottom: 12px;
      
      .el-input {
        margin-top: 10px;
      }

      p {
        padding: 5px 0;
        font-size: 12px;
        color: rgb(103, 194, 58);
      }
    }

    .loginButton {
      display: flex;
    }
  }



}